
	<!-- CORE CSS -->
	<link href="/assets/pages/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/pages/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/pages/css/elegant-icons.css" rel="stylesheet" type="text/css">
	<!-- THEME CSS -->
	<link href="/assets/pages/css/main.css" rel="stylesheet" type="text/css">
	<link href="/assets/pages/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	<!-- GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>


		<!-- PAGE CONTENT -->
		<div class="page-content text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h1 class="text-superbig margin-bottom-30"><strong>{{status.code}}</strong></h1>
						<h2><strong>{{status.text}}</strong></h2>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->

