<div class="row ">
  <div class="col-4">
    <app-menu></app-menu>
  </div>
  <div class="col-8 " *ngIf="selectedNode">
    <div class="card v100">
      <div class="card-header">

        <div class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="nodeName">Name</label>
            <input
              class="form-control"
              title="Feature name"
              id="nodeName"
              [(ngModel)]="selectedNode.name"
              #nodeName
              placeholder="Name" />
          </div>
          <div class="col-auto">
            <app-date-picker
              title="Feature expiration"
              [(ngModel)]="selectedNode!.expiration"
              [allowClear]="true"
              [format]="'dd/MM/yyyy'"
              [placeholder]="'Select the expiration date'"
              id="nodeExpiration"></app-date-picker>
          </div>
          <div class="col-2">

            <div class="form-check form-switch">
              <app-switch
                [(ngModel)]="selectedNode!.enabled"
                color="success"
                [labelOn]="'On'"
                [labelOff]="'Off'" />
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" type="button"
              (click)="saveForm(selectedNode)">
              Save
            </button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <div class="row">

          <hr style="color:black" />

          <div class="col-sm-4">
            <em
              class="fa fa-plus fa-sm"
              (click)="addUser(selectedNode!.users!)"></em><span
              (click)="addUser(selectedNode!.users!)">Add user</span>
            <div *ngFor="let user of selectedNode!.users!"
              class="input-group mb-2">

              <input
                class="form-control"
                [(ngModel)]="user.name"
                placeholder="Username"
                autofocus />
              <button
                title="Remove user"
                class="input-group-text"
                (click)="removeUser(selectedNode!.users!, user)"><em
                  class="fa fa-minus fa-sm red"></em></button>

            </div>
          </div>
          <div class="col-sm-4">
            <em
              class="fa fa-plus fa-sm"
              (click)="addEnvironment(selectedNode!.environments!)"></em>
            <span (click)="addEnvironment(selectedNode!.environments!)">Add
              environment</span>
            @for(environment of selectedNode.environments;track
            environment.name){
            <div class="input-group mb-2">

              <input
                [(ngModel)]="environment.name"
                class="form-control"
                placeholder="environment"
                autofocus />
              <button
                title="Remove environment"
                matSuffix
                class="input-group-text"
                (click)="removeEnvironment(selectedNode!.environments!, environment)">
                <span class=" fa fa-minus fa-sm"></span>
              </button>
            </div>
            }
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
