<div class="row ">
  <div class="col-4">
    <app-menu></app-menu>
  </div>
  <div class="col-8 " *ngIf="selectedNode">
    <div class="card v100">
      <div class="card-header row">
        <div class="col-3">
          <label for="nodeName">Name</label>
          <input
            class="form-control"
            id="nodeName"
            [(ngModel)]="selectedNode.name"
            #nodeName
            placeholder="Name" />
        </div>
        <div class="col-3">
          <app-date-picker
            [(ngModel)]="selectedNode!.expiration"
            id="nodeExpiration"
            [label]="'Expiration'"
            placeholder="Expiration"></app-date-picker>
        </div>
        <div class="col-3">
          <!-- add the space offset for nodeEnabled   -->
          <span class="offset2">&nbsp;</span>x
          <label for="nodeEnabled">&nbsp;</label>
          <input type="checkbox"
            class="form-check-input offset2"
            id="nodeEnabled"
            [(ngModel)]="selectedNode!.enabled" /><label
            for="nodeEnabled">Enabled</label>
        </div>
        <div class="col-3">
          <button class="btn btn-success" (click)="saveForm(selectedNode)">
            Save
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">

          <hr style="color:black" />

          <div class="col-sm-4">
            <em
              class="fa fa-plus fa-sm"
              (click)="addUser(selectedNode!.users!)"></em><span
              (click)="addUser(selectedNode!.users!)">Add user</span>
            <div *ngFor="let user of selectedNode!.users!"
              class="input-group mb-2">

              <input
                class="form-control"
                [(ngModel)]="user.name"
                placeholder="Username"
                autofocus />
              <button
                title="Remove user"
                class="input-group-text"
                (click)="removeUser(selectedNode!.users!, user)"><em
                  class="fa fa-minus fa-sm red"></em></button>

            </div>
          </div>
          <div class="col-sm-4">
            <em
              class="fa fa-plus fa-sm"
              (click)="addEnvironment(selectedNode!.environments!)"></em>
            <span (click)="addEnvironment(selectedNode!.environments!)">Add
              environment</span>
            @for(environment of selectedNode.environments;track
            environment.name){
            <div class="input-group mb-2">

              <input
                [(ngModel)]="environment.name"
                class="form-control"
                placeholder="environment"
                autofocus />
              <button
                title="Remove environment"
                matSuffix
                class="input-group-text"
                (click)="removeEnvironment(selectedNode!.environments!, environment)">
                <span class=" fa fa-minus fa-sm"></span>
              </button>
            </div>
            }
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
