.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.fa{
    margin:3px;
    cursor:pointer;
}

.fa-trash,.fa-minus{
  color:red;
  cursor:pointer
}

.fa-plus{
  color:green;
  cursor:pointer
}

mat-tree-node span{
  cursor:pointer
}
