@if(label){
<label class="form-label" for="dp">{{label}}
</label>
}

<div class="input-group">
    <input
        title="{{placeholder || 'Select date'}}"
        class="form-control"
        name="dp"
        [ngModel]="displayDate"
        (ngModelChange)="onDateSelect($event)"
        [showWeekNumbers]="showWeekNumbers"
        [autoClose]="autoClose"
        [startDate]="startDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [disabled]="disabled"
        [placeholder]="placeholder"
        ngbDatepicker
        #d="ngbDatepicker"
        readonly />
    @if(allowClear){
    <button
        title="{{!selectedDate ? 'No date selected' : 'Clear date'}}"
        [disabled]="!selectedDate || disabled"
        [ngClass]="{'text-info': selectedDate, 'text-body-tertiary': !selectedDate}"
        class="input-group-text"
        (click)="clearDate()"
        type="button">
        <span class="fa fa-times"></span>
    </button>
    }
    <button
        title="Open calendar"
        class="input-group-text"
        (click)="d.toggle()"
        [disabled]="disabled"
        type="button">
        <span class="fa fa-calendar" aria-hidden="true"></span>
        <span class="visually-hidden">Open calendar</span>
    </button>
</div>
